/* make background blue*/

body {
    font-size: larger;
    margin: 0px;
    width: 100vw;
    background-color: #0b69a8;
}

nav{
font-family: 'Alata','Arial', 'Helvetica', 'sans-serif';
font-size: large
}

nav li {
    border-right: 2px solid #c4c4c4;
    display: inline-block;
    float: center;
    padding: 0 60px;
    position: relative;
    
}
ul :last-child {
    border-right: 0;
}

nav link{
    width: fit-content;
}


div {
    font-size: larger;
}

nav ul li a :last-child :hover {
display: block;
position: absolute;
background-color: grey
}
