body {
	background-color: #0b69a8;
}

body{
    font-size: larger;
}

nav{
font-family: 'Alata','Arial', 'Helvetica', 'sans-serif';
font-size: large

}
nav ul li{
    border-right: 2px solid #c4c4c4;
    display: inline-block;
    float: center;
    padding: 0 60px;
}

nav link{
    width: fit-content;
}


div {
    font-size: larger;
}

